body{
    background-color: #fafafae1;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #ffffffee;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 20px;
}
/* Logo */
.logo a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: rgb(236, 108, 61);
    letter-spacing: 1px;
}
.logo{
    flex: 1;
}
/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: rgb(236, 108, 61);
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Main content */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 80px 8%;
}
.description {
    flex: 1;
}

.description h1 {
    font-size: 35px;
    margin: 20px 0;
    color: #222;
}

/* .description span{
    color:rgb(236, 108, 61);
} */

.description p:first-child {
    color: rgb(236, 108, 61);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* font-family:fantasy; */
}

.description p {
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.image {
    flex: 1;
}

.image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 28px;
    margin-right: 15px;
    text-decoration: none;
    background: #222;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: rgb(202, 65, 15);
}
.btn-outline {
    background: transparent;
    color: #222;
    border: 2px solid rgb(236, 108, 61);;
}
.btn-outline:hover {
    background: #222;
    color: white;
}

/* About page */

.about-section {
    width: 85%;
    margin: 80px auto;
}

.intro,
.mission,
.vision {
    margin-bottom: 90px;
}

.intro {
    text-align: center;
}

.intro img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.intro h1{
    font-size: 28px;
    color: #222;
}
.intro h2 {
    font-size: 28px;
    color: rgb(236, 108, 61);
    margin-bottom: 20px;
}

.intro p {
    width: 75%;
    margin: auto;
    line-height: 1.8;
    color: #555;
}

.mission {
    display: flex;
    align-items: center;
    gap: 60px;
}

.mission .image,
.mission .text {
    flex: 1;
}

.vision {
    display: flex;
    align-items: center;
    gap: 60px;
}

.vision .image,
.vision .text {
    flex: 1;
}

.image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.text h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(236, 108, 61);
}

.text p {
    line-height: 1.8;
    color: #666;
}


/* Contact page */
.contact-section {
    display: flex;
    gap: 40px;
    padding: 80px 8%;
    align-items: stretch;
}

/* FORM SIDE */
.form {
    flex: 1;
    background-image: url("images/tiles-contact.webp");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, 0.45);
    padding: 40px;
    height: 100%;
    color: white;
}

.title p {
    color: rgb(236, 108, 61);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 28px;
}

.title h2 {
    font-size: 26px;;
    margin: 10px 0;
}

.contact-hr {
    width: 80px;
    margin-left: 0;
    border: 2px solid rgb(236, 108, 61);
}

/* NAME + EMAIL SIDE BY SIDE */
.form-row {
    display: flex;
    gap: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}

.input-group #subject{
    color: #222;
}
label {
    margin-bottom: 8px;
    font-weight: 500;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #fafafaaf;
}

textarea {
    height: 130px;
    resize: none;
}

button {
    padding: 14px 35px;
    background: rgb(236, 108, 61);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(236, 108, 61);
}

/* MAP SIDE */
.map {
    flex: 1;
    min-height: 550px;
    border-radius: 12px;
    overflow: hidden;
    background: #ddd;
}


/* Footer */
.footer{
    background-color: #ffffff;
    padding: 60px 8% 20px;
    border-top: 1px solid rgb(236, 108, 61);
    margin-top:35px ;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}
.footer-section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.footer-section h3{
    color:rgb(236, 108, 61) ;
}
/* .footer-content{
    line-height: 9px;
    display: flex;
    justify-content: center;
    gap:20px;
}
.footer-content p{
    font-size: 13px;
} */

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        /* gap: 15px; */
        padding: 15px 5%;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0;
        display: none;
    }

    .logo{
        flex: unset;
    }
    
    .logo a {
        font-size: 1.3rem;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #222;
        font-size: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2000;
    }

    /* When menu is active */
    .nav-links.active {
        display: flex;
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
    }

    .description h1 {
        font-size: 2.5rem;
    }

    .image {
        margin-top: 30px;
    }

    .mission,
    .vision {
        flex-direction: column;
        text-align: center;
    }

    /* Keep Vision text above image on mobile */
    .vision .text {
        order: 2;
    }

    .vision .image {
        order: 1;
    }

    .intro p {
        width: 100%;
    }

    .image img {
        height: 280px;
    }

    .contact-section {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }

    .map {
        min-height: 350px;
    }

    .footer {
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-section {
        margin-bottom: 5px;
    }
}
